@import "@/assets/css/mixins.scss";

.news-box{
    text-align: center;
    .item{ 
        text-align: center;
        margin-bottom:20px;
        .title{color: #67c23a;}
        .avatar{width:px2rem(80);height:px2rem(80);display: block;margin:0 auto;border-radius: 50%;}
    }
}
